<!doctype html>
<html>
	<head> 
		<title>ARG Technologist - <%- title %></title> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<link rel="stylesheet" href="/style.css" />
		<script src="/js/jquery.js"></script>
		<script src="/js/core.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato:light,lightitalic,regular,regularitalic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
		<!-- This site is, and always will be, out of game for all client ARGs. That does not mean I can't use it for my own purposes. --> 
	</head> 
	<body class="<% if (typeof watches !== 'undefined') { %>watch<% } %><%- bodyclass %>" id="<%- bodyid %>"> 
		<% if (!authUser) { %>
	    <form id="loginbar" action="/login" method="POST">
	        <input type="email" name="email" placeholder="Email" />
	        <input type="password" name="password" placeholder="Password" />
	        <input type="submit" value="Login" />
	    </form>
	    <% } else { %>
			<div id="headerbar">
				<a href="/user/<%- authUser %>">Profile</a>
				<a href="#">Logout</a>
			</div>
	    <% } %>
	    <div id="outerouter">
        	<a href="/" id="homelink"></a>
			<div id="contentouter">
				<div id="quip"><%- quip %></div>
				<% if (typeof watches !== 'undefined') {
					for (var i in watches) {
						%>
							<a href="<%- watches[i].url %>"><%- watches[i].body %></a>
						<%
					}
				} %>
				<div id="content">
					<h1 id="maintitle"><%- title %></h1>
					<% if (typeof flash != 'undefined') { %>
						<% if (flash.error) { %>
							<div class="error"><%- flash.error %></div>
						<% } %>
						<% if (flash.info) { %>
							<div class="info"><%- flash.info %></div>
						<% } %>
					<% } %>
					<%- body %>
					<div id="footer">
						<div id="copyright">
							Copyright &copy; Daniel Grace, 2011
						</div>
						<a href="/credits" id="creditsfooter">Credits</a>
					</div>
				</div>
			</div>
        </div>
    </body> 
</html>