<div id="actionbar">
	<a href="/project/<%- project.id %>/settings">Settings</a>
	<a href="/project/<%- project.id %>/watch">Watch</a>
	<a href="/project/<%- project.id %>/leave">Leave</a>
</div>
<div id="projectbio">
    <img src="/project/<%- project.id %>/icon.png" id="avatar" />
    <div id="keyvalue">
        <div class="key">Since:</div>
        <div class="value">10/10/2010</div>
        <div class="key">Creator:</div>
        <div class="value"></div>
        <div class="key">Members:</div>
        <div class="value"></div>
    </div>
    <div id="biography">
    	<% if (project.desc) { %>
    		<h2>Description</h2>
	    	<%- project.desc %>
	    <% } %>
	    <div class="twocol">
	    	<div>
			    <h2>Activity</h2>
			</div>
			<div>
			    <h2>Tasks</h2>
			    <div>
					<% for (var todo_id in todos) { %>
						<a href="/todo/<%- todos[todo_id].id %>"><%- todos[todo_id].name %></a>
					<% } %>
			    </div>
			</div>
		</div>
		<div class="twocol">
			<div>
			    <h2>Files / Wikis</h2>
			</div>
			<div>
			    <h2>Conversations</h2>
			    <div>
					<% for (var conversation_id in conversations) { %>
						<a href="/conversation/<%- conversations[conversation_id].id %>"><%- conversations[conversation_id].name || 'Untitled' %></a>
					<% } %>
			    </div>
			</div>
		</div>
		<div class="twocol">
			<div>
			    <h2>Characters</h2>
			    <div>
					<% for (var character_id in characters) { %>
						<a href="/character/<%- characters[character_id].id %>"><%- characters[character_id].name %></a>
					<% } %>
			    </div>
			</div>
			<div>
			    <h2>Viki</h2>
			</div>
		</div>
		<div class="twocol">
			<div>
				<h2>Chat Logs</h2>
			</div>
			<div>
				<h2>Roster</h2>
			</div>
		</div>
    </div>
</div>