<div id="actionbar">
	<% if (authUser == user.id) { %>
		<a href="#">Edit</a>
	<% } else { %>
		<a href="#">Watch</a>
	    <a href="#">Notes</a>
	    <a href="#">Message</a>
	    <a href="#">Recruit</a>
	<% } %>
    <a href="#">Game History</a>
</div>
<div id="userbio"<% if (user.power == 1) { %> class="admin"<% } %>>
    <img src="/images/anonymous.gif" id="avatar" />
    <div id="keyvalue">
        <div class="key">ID:</div>
        <div class="value"><%- user.id %></div>
        <div class="key">Power:</div>
        <div class="value"><% if (user.power == 1) { %>Admin<% } else if (user.power == 2) {%>Normal<% } %></div>
        <div class="key">Since:</div>
        <div class="value">10/10/2010</div>
        <% for (var role in projects) { %>
        	<h2><%- role %></h2>
        	<div class="projects">
        	<% for (var project in projects[role]) { %>
        		<a href="/project/<%- projects[role][project].project_id %>"><%- projects[role][project].value %></a>
        	<% } %>
        	</div>
        <% } %>
    </div>
    <div id="biography">
    	<% if (user.desc) { %>
	    	<%- user.desc %>
	    <% } else { %>
	    	<p>This user has not set up their biography.</p>
	    <% } %>
    </div>
</div>