<div id="actionbar">
	<% if (authUser == user.id) { %>
		<a href="/user/<%- authUser %>/edit">Edit</a>
	<% } else { %>
		<a href="#">Watch</a>
	    <a href="#">Notes</a>
	    <a href="#">Message</a>
	    <a href="#">Recruit</a>
	<% } %>
    <a href="#">Game History</a>
</div>
<div id="userbio"<% if (user.power == 1) { %> class="admin"<% } %>>
    <img src="/images/anonymous.gif" id="avatar" />
    <div id="keyvalue">
        <div class="key">Power:</div>
        <div class="value"><% if (user.power == 1) { %>Admin<% } else if (user.power == 2) {%>Normal<% } %></div>
        <div class="key">Since:</div>
        <div class="value"><%- user.created.toDateString() %></div>
        <div class="key">Buzz:</div>
        <div class="value"><%- user.buzz.toFixed(2) %></div>
		<div id="roleswrapper">
			<div class="projects">
				<h2>Projects</h2>
				<% for (var project in projects) { %>
					<div class="project">
						<img src="/images/anonymous.gif" width="45" height="45" />
						<a href="/project/<%- projects[project].project_id %>"><%- projects[project].value %></a>
						<div class="rolename"><%- projects[project].role_name %></div>
					</div>
				<% } %>
			</div>
		</div>
    </div>
    <div class="right">
		<div id="biography">
			<h2>Biography</h2>
			<% if (user.desc) { %>
				<%- user.desc %>
			<% } else { %>
				<p>This user has not set up their biography.</p>
			<% } %>
		</div>
	</div>
</div>