<div id="actionbar">
	<a href="#">Watch</a>
    <a href="#">Notes</a>
    <a href="#">Message</a>
    <a href="#">Recruit</a>
    <a href="#">Game History</a>
</div>
<div id="userbio" class="admin">
    <img src="/images/anonymous.gif" id="avatar" />
    <div id="keyvalue">
        <div class="key">ID:</div>
        <div class="value"><%- user.id %></div>
        <div class="key">Power:</div>
        <div class="value">Admin</div>
        <div class="key">Since:</div>
        <div class="value">10/10/2010</div>
        <h2>Made</h2>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="/user/<%- user.id %>/made" class="seeall">- More -</a>
        <h2>Played</h2>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="/user/<%- user.id %>/played" class="seeall">- More -</a>
        <h2>Roles</h2>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="#">Super Monkey Ball</a>
        <a href="/user/<%- user.id %>/roles" class="seeall">- More -</a>
    </div>
    <div id="biography">
    	<%- user.desc %>
    </div>
</div>