<div id="actionbar">
	<% if (authUser == user.id) { %>
		<a href="/user/<%- authUser %>/edit">Edit</a>
	<% } else { %>
		<a href="#">Watch</a>
	    <a href="#">Notes</a>
	    <a href="#">Message</a>
	    <a href="#">Recruit</a>
	<% } %>
    <a href="#">Game History</a>
</div>
<div id="userbio"<% if (user.power == 1) { %> class="admin"<% } %>>
    <img src="/images/anonymous.gif" id="avatar" />
    <div id="keyvalue">
        <div class="key">Power:</div>
        <div class="value"><% if (user.power == 1) { %>Admin<% } else if (user.power == 2) {%>Normal<% } %></div>
        <div class="key">Since:</div>
        <div class="value"><%- user.created.toDateString() %></div>
        <div class="key">Buzz:</div>
        <div class="value"><%- user.buzz.toFixed(2) %></div>
    </div>
    <div class="right">
    	<h2>Edit History</h2>
    	<table cellspacing="0">
    		<tr>
    			<th>ID</th>
    			<th>When</th>
    			<th>Who</th>
    			<th>What</th>
    		</tr>
			<% for (var i in history) { %>
				<tr>
					<td><%- history[i].id %></td>
					<td><%- history[i].created.toDateString() %></td>
					<td><% if (history[i].creator) { %><%- history[i].creator %><% } else { %>System<% } %></td>
					<td><%- history[i].differences %></td>
				</tr>
			<% } %>
		</table>
	</div>
</div>