<div id="actionbar">
	<% if (authUser == user.getId()) { %>
		<a href="/user/<%- user.getId() %>/edit">Edit</a>
	    <a href="/user/<%- user.getId() %>/editHistory">Edit History</a>
	<% } else { %>
		<a href="#" class="watchbtn">Watch</a>
	    <a href="#">Notes</a>
	    <a href="#">Message</a>
	    <a href="#">Recruit</a>
	<% } %>
    <a href="#">Game History</a>
</div>
<div id="userbio"<% if (user.getPower() == 1) { %> class="admin"<% } %>>
    <img src="/user/<%- user.getId() %>/avatar.png" id="avatar" />
    <div id="keyvalue">
        <div class="key">Power:</div>
        <div class="value"><% if (user.getPower() == 1) { %>Admin<% } else if (user.getPower() == 2) {%>Normal<% } %></div>
        <div class="key">Since:</div>
        <div class="value"><%- user.getCreated().toDateString() %></div>
        <div class="key">Buzz:</div>
        <div class="value"><%- user.getBuzz().toFixed(2) %></div>
		<div id="roleswrapper">
			<div class="projects">
				<h2>Projects</h2>
				<% for (var project in projects) { %>
					<div class="project">
						<img src="/project/<%- projects[project].getId() %>/thumb.png" />
						<a href="/project/<%- projects[project].getId() %>"><%- projects[project].getTitle() %></a>
					</div>
				<% } %>
			</div>
		</div>
    </div>
    <div class="right">
		<div id="biography">
			<h2>Biography</h2>
			<% if (user.getDescription()) { %>
				<%- user.getDescription() %>
			<% } else { %>
				<p>This user has not set up their biography.</p>
			<% } %>
		</div>
	</div>
</div>